/* Stylesheet for Exercise 3: CSS Fonts & Animation */

/* Override: placing everything in the center */
* {
	text-align: center;
}

/* Stylistic Body Choices Start */
body {
	background: black;
	color: white;
}
/* Stylistic Body Choices End */

/* Stylistic Choices Start */
h1 {
	font-family: Poppins, "Helvetica", sans-serif;
	font-size: 30px;
	font-style: bold;
}

.exercise-intro {
	font-family: Poppins, "Helvetica", sans-serif;
	font-size: 30px;
}

p {
	font-family: Verdana, "Tahoma", sans-serif;
	font-size: 15px;
}
/* Stylistic Choices End */

/* Flicker Starts*/
.flicker {
	font-family: permanent-marker,"Brush Script MT", Verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 75px;
}

@keyframes blink-letters {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0.5;
	}
	75% { opacity: 1;
	}
	0% {
		opacity: 0.3;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flicker:hover {
	color: yellow;
	animation: blink-letters 0.25ms ease-in-out infinite alternate-reverse;
}
/* Flicker Ends */

/* Vanish Starts */
.vanish {
	color: royalblue;
	font-family: Major Mono Display, "Tahoma", Helvetica, monospace;
	font-size: 75px;
	transition: opacity 150ms ease;
}

@keyframes bye-letters {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.V:hover {
	animation: bye-letters 2.5s infinite;
}

.A1:hover {
	animation: bye-letters 2.5s infinite;
}

.N1:hover {
	animation: bye-letters 2.5s infinite;
}

.I:hover {
	animation: bye-letters 2.5s infinite;
}

.S:hover {
	animation: bye-letters 2.5s infinite;
}

.H:hover {
	animation: bye-letters 2.5s infinite;
}
/* Vanish Ends */

/* Pulsate Starts */
/* Hosted Font: Amagro */
@font-face {
	font-family: Amagro;
	src:  url("http://uuxliu.github.io/interactive-media-web/assignments/exercise-3/Amagro/amagro-webfont.woff") format("woff");
	src: url("http://uuxliu.github.io/interactive-media-web/assignments/exercise-3/Amagro/amagro-webfont.woff2") format("woff2");
}

/* 

Another method of implementing hosted fonts:

@font-face {
font-family: Amagro;
src:  url("Amagro/amagro-webfont.woff") format("woff");
src: url("Amagro/amagro-webfont.woff2") format("woff2");
}

Or...can copy+paste stylesheet given by Font Squirrel
-still need to make sure that the link path is correct
-Font Squirrel packages: 
	-font files in same folder as stylesheet = no subdirectory (folder):
	
	src: url('amagro-bold.woff2') format('woff2'),
         url('amagro-bold.woff') format('woff’);

    -if all of files are in one folder, this would work^

*/

.pulsate {
	font-family: Amagro,"Garamond", Georgia, sans-serif;
	font-size: 75px;
}

@keyframes pump {
	0% {
		color: white;
		transform: scale(0.9);
	}
	100% {
		color: crimson;
		transform: scale(1);
	}
	0% {
		color: white;
		transform: scale(0.9);
	}
}

.pulsate:hover {
	animation: pump 200ms infinite ease-in-out alternate-reverse;
}
/* Pulsate Ends */