/* Stylesheet for Reading Response 4 PART 1 */

/* Style Choices Starts */
* {
	text-align: center;
	margin: 20px;
}

body {
	background: white;
	color: black;
}

h1, .intro {
	font-family: Poppins, sans-serif;
	font-size: 30px;
}

a {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: hotpink;

}

a:hover {
	color: deeppink;
	text-decoration: none;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

.outro {
	font-family: Poppins, sans-serif;
	font-size: 15px;
}
/* Style Choices Ends */

/* Media Queries: for responsive interface */
@media (max-width: 991px) {
	h1, .intro {
		font-size: 7vw;
	}
	p {
		font-size: 4vw;
	}
	a {
		font-size: 5vw;
	}
}