/* Stylesheet for Exercise 1: Self-Portrait */

/* Text Style Choices Starts */
*{
	text-align: center;
}

body {
	background: black;
	color: white;
}

h1, .intro {
	font-family: Poppins, sans-serif;
	font-size: 30px;
}

p {
	font-family: Poppins, sans-serif;
	font-size: 15px;
}
/* Text Style Choices Ends */

img {
	width: 720px;
	height: 450px;
	border: 1px white dashed;
}